<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <%= link_to "ISN", root_path %>
  is the newest and hottest social network not only on the globe but in the entire galaxy.
  Don't you feel like
  <%= link_to "signing up", signup_path %>?
</p>