<h1>Intergalactic Social Network</h1>

<p>Hi <%= @user.name %>,</p>

<p>
We just couldnt resist acknowledging that it's a wonderful day to join the Intergalactic Social Network! Go ahead and click the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>