<script src="//maps.google.com/maps/api/js?v=3.23&sensor=false&client=&key=&libraries=geometry&language=&hl=®ion="></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->

<div style='width: 750px;'>
  <div id="map" style='width: 750px; height: 250px;'></div>
</div>

<button id="checkinbtn" style="display:none;" onclick="setLocation()">Check in!</button>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(12);
    if (<%= @user_lat.nil? || @user_lat.nil? %> ){
      handler.map.centerOn([42.697578, 23.32252])
    }
    else{
    handler.map.centerOn( <%= [@user_lat.to_f, @user_lng.to_f] %>);
    }
  });
  
  var setLat;
  var setLng;

  
  function setLocation() {
    $.ajax({
      url: "/checkin",
      type: "PUT",
      data: {  lat: setLat, 
               lng: setLng},
        success: function(data){
          window.location.reload();
        }
    });
    
  }
  
  var markerOnMap;
  
  function placeMarker(location) {    // simply method for put new marker on map
    document.getElementById("checkinbtn").style.display = 'block';
    if (markerOnMap) {
      markerOnMap.setPosition(location);
    }
    else {
      markerOnMap = new google.maps.Marker({
        position: location,
        map: handler.getMap()
      });
    }
  }

  google.maps.event.addListener(handler.getMap(), 'click', function(event) {    // event for click-put marker on map and pass coordinates to hidden fields in form
    placeMarker(event.latLng);
    setLat = event.latLng.lat();
    setLng = event.latLng.lng();
  });

</script>