<div class="center jumbotron">
  <h1>Welcome to ISN</h1>

  <h2>
    Don't forget about the towel and have fun.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>