<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="micropost_form">
      <span class="ajaxreloadpostform">
        <%= render 'shared/micropost_form' %>
        </span>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Where are your buddies right now?</h3>
    <%= render 'shared/gmaps' %>
    <h3>See some recent pix from ya friends, buddy.</h3>
    <%= render 'shared/pix' %>
    <h3>Micropost Feed</h3>
      <span class="ajaxreloadposts">
        <%= render 'shared/feed' %>
      </span>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
      setInterval(function () {
              $.ajax('microposts/<%= current_user.id %>/polling');
      } , 15000);
  }); 
</script>