<div class="owl-carousel">
  <% @feed_items.each do |micropost| %>
    <% if micropost.picture? %>
      <div class="item"><%= image_tag micropost.picture.url if micropost.picture? %></div>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".owl-carousel").owlCarousel({
   
        autoPlay: 3000, //Set AutoPlay to 3 seconds
   
        items : 2,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
   
    });
  });
</script>