<footer class="footer">
  <small>
    Powered by <a href="http://rubyonrails.org/">Ruby on Rails</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://weblog.rubyonrails.org/releases/">News</a></li>
    </ul>
  </nav>
</footer>
